*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    
    }

.heading{
    display: flex;
    margin-top: 100px;
    margin-left: 350px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}
.text{
    margin-top: 80px;
    margin-left: 0px;
    font-size: 17px;
    }
.box{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    color: #555;
}
.products{
    width: 1100px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 50px;
    max-width: 1240px;
}
.product img{
    width: 100%;
    display: block;
}    
.title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.product :hover{
    cursor: pointer;
    
}
.product p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    font-size: large;
}
.product .qty{
    text-align: center;
}
.product .button{
    padding: 5px;
    margin-left: 70px;
    background-color: white;
    border: none;
    box-shadow: none;
}
.product .button{
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    background-color: #3e628f;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.product .button i{
    padding-left: 10px;
}
.filter{
    width: 300px;
    
}
#search{
    margin-top: 10px;
    width: 250px;
    height: 50px;
    margin-left: 8px;
}
.filter select{
    width: 250px;
    height: 30px;
    margin-left: 8px;
    margin-top: 10px;
}
#reset{
   width: 80px; 
   height: 25px;
   background-color: white;
   border: none;
}
#filterby{
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
}
#format{
    font-size: 15px;
}